/* Colours
---------------------------------------------- */
/*
$green: #7AC7B5;
$yellow: #FBEB69;
$blue: #88BFFA;
$red: #CE7654;
$orange: #F2AC5E;
*/

$dark: #24293B;
$green: #99EB82;
$light-grey: #eee;
$grey: #999;


/* Variables
---------------------------------------------- */
$phone: 650px;


/* Utility Styles
---------------------------------------------- */
@define-mixin horizontal {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.horizontal {
  @mixin horizontal;
}

ul.unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}


/* Buttons
---------------------------------------------- */
.btn {
  padding: 8px 16px;
  border-radius: 5px;
}

.btn-grey {
  background: $light-grey;
  color: $grey !important;
  font-weight: 500;
  &:hover {
    background: $grey;
    color: white !important;
  }
}


/* Global Styles
---------------------------------------------- */
* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

a, a:link, a:visited {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: $dark;
}

.container-960 {
  margin: auto;
  padding: 0 20px;
  max-width: 960px;
}

.text-grey {
  color: $grey;
}

#site-header{
  margin-bottom: 25px;
  padding: 20px 0;
  text-align: center;

  a {
    text-decoration: none;
  }

  .logo {
    text-decoration: none;
    font-weight: 700;
  }

  .send-links {
    $border: 1px solid $light-grey;
    margin-top: 25px;
    border-top: $border;
    font-weight: 600;
    font-size: 14px;
    color: $grey;

    a {
      display: block;
      padding: 15px;
      border-bottom: $border;
    }
    a:hover {
      color: $green;
      border-bottom: 1px dotted $green;
    }
  }

  @media (min-width: $phone) {
    /* Styles for screens larger than a phone */

    text-align: left;

    .send-links {
      @mixin horizontal;
      justify-content: flex-end;
      margin-top: 0;
      border: none;

      a {
        padding: 0 0 3px;
        border-bottom: 1px dotted #ccc;
        background: none;
      }

      li {
        padding-left: 20px;
      }
    }

    .left {
      lost-column: 1/3;
    }
    .right {
      lost-column: 2/3;
    }
  }
}

footer {
  border-top: 2px solid $light-grey;
  padding: 10px 0 20px;
  color: $grey;
  font-size: 12px;
  font-weight: 600;
  lost-utility: clearfix;

  .left {
    float: left;
  }
  .right {
    float: right;
  }
}

.rate-finder {
  padding: 25px 0px;
  text-align: center;
  margin-bottom: 50px;

  form h4 {
    font-style: italic;
    margin-bottom: 10px;
  }

  .amount {
    display: table;
    background: white;

    input, label {
      display: table-cell;
    }

    input {
      border: 0;
      padding: 12px 15px;
      font-weight: 600;
      color: black;
      outline: none;
      width: 100%;

      &::placeholder {
        color: #ccc;
      }
    }

    label {
      padding: 12px 15px;
      background: white;
      font-weight: 800;
      width: 12.5%;
    }
  }

  .destination {
    select {
      width: 100%;
      background: $light-grey;
      padding: 12px 20px;
      border: none;
      border-radius: 0;
      font-weight: 600;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      position: relative;
    }

    label {
      position: relative;
    }
    label::before {
      content: "\2207";
      position: absolute;
      top: 2px;
      right: 12px;
      z-index: 10;
    }
  }

  button {
    background-color: $green;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-weight: 900;
    border: 0;

    &:hover {
      background: color($green tint(15%));
    }
  }

  .amount, .destination, button {
    margin: 0 auto 5px;
    width: 325px;
  }
}

.featured-countries {
  margin-bottom: 100px;

  h2 {
    text-align: center;
    margin-bottom: 40px;
  }

  .cells {
    lost-utility: clearfix;

    .country {
      font-size: 12px;
      font-weight: 700;
      display: block;
      color: $grey;
      lost-waffle: 1/1;
      span {
        color: $dark;
        font-size: 14px;
      }
      &:hover, &:hover span {
        color: $green;
      }
    }
  }

  @media (min-width: $phone) { /* Desktop styles */
    .cells {
      .country {
        lost-waffle: 1/3;
      }
    }
  }
}
