.homepage {
  .hero {
    padding: 50px 0 100px;
    text-align: center;
    position: relative;
    overflow: hidden;

    .icons {
      display: none;
      position: relative;
    }

    .large {
      margin-bottom: 25px;
      color: $green;
      font-weight: 700;
      font-size: 250%;
    }

    .secondary {
      margin: auto;
      width: 60%;
      font-weight: 500;
      font-style: italic;
      font-size: 120%;
      color: $grey;
    }

    @media (min-width: $phone) { /* Desktop styles */
      width: 87%;
      padding-top: 100px;
      margin: calc(@padding-top - 50px) auto auto;

      .large, .secondary {
        background: white;
        display: inline-block;
        padding: 5px;
        border-radius: 20px;
      }

      .icons {
        display: initial;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        color: #eee;
        z-index: -10;
      }
    }
  }

  .rate-finder-container {
    h3 {
      text-align: center;
      margin: 0 auto 10px;
      width: 60%;
    }
  }

  .today-rates {
    margin-bottom: 100px;

    h2 {
      text-align: center;
      margin-bottom: 25px;
    }

    .cells {
      lost-utility: clearfix;
      display: flex;
      flex-direction: column;

      .rate-cell {
        margin-bottom: 25px;
        background: $dark;
        text-align: center;
        color: white;
        padding: 20px;

        h4 {
          border-bottom: 1px dotted rgba(255, 255, 255, 0.35);
          padding-bottom: 3px;
          margin-bottom: 10px;
        }

        p {
          margin: 0;
          font-size: 12px;
          font-style: italic;
        }

        h2 small {
          font-size: 14px;
        }

        .send-link {
          color: $green;
          font-weight: 600;
          font-size: 14px;

          &:hover {
            color: white;
          }
        }
      }
    }

    @media (min-width: $phone) { /* Desktop styles */
      .cells {
        flex-direction: row;

        .rate-cell {
          lost-column: 1/3;
          margin-bottom: 0;
          transition: all 200ms ease-in-out;
          transform: scale(1);

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .rate-partners {
    margin-bottom: 100px;

    h2 {
      text-align: center;
      margin-bottom: 25px;
    }

    .cells {
      lost-utility: clearfix;
      display: flex;
      justify-content: center;

      & > div {
        lost-waffle: 1/2;
        border: 5px solid $green;
        padding: 20px;
        text-align: center;
      }
      img {
        max-width: 100%;
        height: 50px;
      }
    }

    .note {
      text-align: center;
      font-size: 13px;
      font-weight: 500;
      color: $grey;
    }

    @media (min-width: $phone) { /* Desktop styles */
      .cells {
        & > div {
          lost-waffle: 1/5;
        }
      }
    }
  }
}
