.rates {
  .rate-finder {
    form {
      justify-content: space-between;
    }
    border-bottom: 1px solid $light-grey;

    @media (min-width: 895px) { /* Desktop styles */
      form {
        display: flex;

        .destination {
          width: 300px;
        }
        button {
          width: 250px;
        }
      }
    }
  }


  .sorter {
    text-align: center;
    padding-bottom: 25px;
  }


  .rates-list {
    margin: 50px 0;

    header {
      color: $grey;
      font-size: 13px;
    }

    .list {
      border-top: 1px solid $light-grey;
    }

    .list-item {
      border-bottom: 1px solid $light-grey;
      padding: 12px 0;

      .notes {
        text-align: center;
      }

      .send-now-btn {
        display: inline-block;
        padding: 5px 12px;
        background: $green;
        color: white;
        font-weight: 600;

        &:hover {
          background: color($green tint(15%));
        }
      }
    }

    .list-item .cols {
      .col {
        margin-bottom: 15px;

        p {
          width: 100%;
          margin: 0;
          text-align: center;
        }
        p small {
          font-size: 11px;
          color: $grey;
        }
      }

      .col.logo {
        text-align: center;

        img {
          max-width: 184px;
          max-height: 75px;
        }
      }
    }


    @media (min-width: 785px) { /* Desktop styles */
      header {
        padding: 5px 0;
      }

      .list-item {
        .notes {
          lost-utility: clearfix;
        }

        .send-now-btn {
          float: right;
          margin-right: 25px;
        }

        .cols {
          display: flex;
          font-weight: 500;
          flex-grow: 1;

          .col {
            margin-bottom: 0;
            flex: 0 0 184px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}