{% extends 'layout.html' %}

{% block page_name %}homepage{% endblock %}

{% block content %}
    <section class="hero">
        <div class="text">
            <h1 class="large">Send Money Home</h1>

            <h2 class="secondary">
                Transfer Money to India, USA, Mexico, the UK and many more...
                at the <b>BEST</b> rates!
            </h2>
        </div>

        <div class="icons"></div>
    </section>

    <section class="rate-finder-container">
        <h3>- Get Started -</h3>

        {% include '_partials/_rate_finder.html' %}
    </section>

    {% if best_rates %}
        <section class="today-rates">
            <h2>Today's Best Rates</h2>

            <div class="cells">
                {% for rate in best_rates %}
                    <div class="rate-cell">
                        <h4>{{ rate.src_cur.upper() }} to {{ rate.dest_cur.upper() }}</h4>
                        <h2>{{ rate.rate }} <small>{{ rate.dest_cur.upper() }}</small></h2>
                        <p>
                            <a href="" class="send-link">
                                Send Now <i class="fas fa-chevron-circle-right"></i>
                            </a>
                        </p>
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}


    <section class="rate-partners">
        <h2>Our Rate Partners</h2>
        <div class="cells">
            <div>
                <a href="https://www.bmo.com/home/personal/banking/rates/foreign-exchange">
                    <img src="/static/imgs/logos/grey/bmo.png">
                </a>
            </div>
            <div>
                <a href="https://online.royalbank.com/cgi-bin/tools/foreign-exchange-calculator/start.cgi">
                    <img src="/static/imgs/logos/grey/rbc.png">
                </a>
            </div>
            <div>
                <a href="https://www.tdcommercialbanking.com/rates/index.jsp">
                    <img src="/static/imgs/logos/grey/td.png">
                </a>
            </div>
            <div>
                <a href="http://www.scotiabank.com/ca/en/0,,1118,00.html">
                    <img src="/static/imgs/logos/grey/scotia.png">
                </a>
            </div>
        </div>
        <p class="note">
            These are just some of the rate partners that we work with.
            We work with some of the top financial institutions in the country
            to help get you the best rates and we are always adding new partners.
        </p>
    </section>


    {% include '_partials/_feature_country_list.html' %}
{% endblock %}
