<!doctype html>
<html class="no-js" lang="en-CA">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ page_title }}</title>

        <meta name="description" content="{{ meta_description }}">

        <link rel="canonical" href="https://www.fxratehunter.com{{ request.path }}">


        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-TCB7X7S');</script>
        <!-- End Google Tag Manager -->


        <!-- Open Graph tags -->
        <meta property="og:title" content="{{ page_title }}" />
        <meta property="og:description" content="{{ meta_description }}">

        <!-- Style Sheets -->
        <link rel="stylesheet" href="/static/vendor/normalize.css">
        <!-- <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,600,600i,800,800i,900,900i" rel="stylesheet"> -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i" rel="stylesheet"> -->
        <link href="/static/build/styles.css" rel="stylesheet">
    </head>
    <body>

        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TCB7X7S"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <div class="container-960 {% block page_name %}{% endblock %}">
            <header id="site-header">
                <div class="left">
                    <a href="/" class="logo">FX RATE HUNTER <i class="fas fa-binoculars"></i></a>
                </div>
                <div class="right">
                    <ul class="send-links unstyled">
                        <li><a href="{{ url_for('rates_list', src='canada', dest='india') }}">Send Money to India</a></li>
                        <li><a href="{{ url_for('rates_list', src='canada', dest='united-states') }}">Send Money to USA</a></li>
                        <li><a href="{{ url_for('rates_list', src='canada', dest='united-kingdom') }}">Send Money to UK</a></li>
                    </ul>
                </div>
            </header>

            <div class="content-wrapper">
                {% block content %}{% endblock %}
            </div>

            <footer>
                <div class="left">
                    <a href="/">&copy; {{ current_year }} FXRATEHUNTER.com</a>
                </div>

                <div class="right">
                    <a href="https://www.facebook.com/fxratehunter">
                        <small>Visit us on Facebook</small> <i class="fab fa-facebook-square"></i>
                    </a>
                </div>
            </footer>
        </div>

        <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
            crossorigin="anonymous"></script>

        <script src="/static/build/vendor.js"></script>
        <script src="/static/build/main.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
        <script>
            FontAwesomeConfig = { searchPseudoElements: true };
        </script>
    </body>
</html>
