{% extends 'layout.html' %}

{% block page_name %}rates{% endblock %}

{% block page_title %}Send Money from {{ src_country }} to {{ dest_country }} | FxRatehunter.com{% endblock %}

{% block content %}
    <section class="rates-list">

        <h3>Amount to send: ${{ amount }} CAD
            &nbsp;&nbsp;&nbsp;
            <small class="text-grey">({{ src_country }} &rarr; {{ dest_country }})</small>
        </h3>

        {% if rates %}
            <p class="note">
                Below are the best exchange rates for {{ src_country }} ({{ src_country_code.upper() }})
                to {{ dest_country }} ({{ dest_country_code.upper() }}) from some of the most popular
                money transfer companies.
            </p>

            <p><small><em>Last updated: {{ last_updated }}</em></small></p>

            <ul class="list unstyled">

                {% for rate in rates %}
                <li class="list-item">
                    <div class="cols">
                        <div class="col logo">
                            <img src="/static/imgs/logos/{{ rate['institution']['name'] }}.png">
                        </div>

                        <div class="col rate">
                            <div>
                                <p>{{ rate['rate'] }}</p>
                                <p><small>Rate</small></p>
                            </div>
                        </div>

                        <div class="col transfer-fee">
                            <div>
                                <p>{{ rate['fee'] }} <small>{{ rate['src_currency_code'].upper() }}</small></p>
                                <p><small>Transfer Fee</small></p>
                            </div>
                        </div>

                        <div class="col transfer-time">
                            <div>
                                <p>24 <small>Hours</small></p>
                                <p><small>Transfer Time</small></p>
                            </div>
                        </div>

                        <div class="col amount">
                            <div>
                                <p title="Includes transer fee">
                                    {{ rate['amount_receivable'] }} {{ rate['dest_currency_code'].upper() }}
                                </p>
                                <p title="Includes transfer fee">
                                    <small>Amount Receivable</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="notes">
                        <a href="" class="send-now-btn"><i class="fas fa-paper-plane"></i> Send Now</a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Sorry, there are no rates available for the destination requested.</p>
        {% endif %}

    </section>

    {% include '_partials/_feature_country_list.html' %}
{% endblock %}
