<section class="featured-countries">
    <h2>Go Ahead, Send Money Home...</h2>

    <div class="cells">
        {% for country in featured_countries %}
            <a href="{{ url_for('rates_list', src='canada', dest=country.url_name) }}" class="country">
                Send Money to <span>{{ country.name }}</span>
            </a>
        {% endfor %}
    </div>
</section>
