<div class="rate-finder">
    <form method="post" action="/send-money">
        <div class="amount">
            <label>$</label>
            <input type="number" step="0.01" placeholder="Amount to send" min="0" name="amount">
            <label>CAD</label>
        </div>

        <div class="destination">
            <label>
                <select name="destination_country_code">
                    {% for country in countries %}
                        <option value="{{ country.url_name }}">
                            {{ country.name }}
                        </option>
                    {% endfor %}
                </select>
            </label>
        </div>

        <button>Find The Best Rate <i class="fas fa-angle-right"></i></button>
    </form>
</div>
